<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	<!-- Brand -->
	<h1 class="navbar-brand" href="#">{{name}}</h1>

	<input id="address_server" class="form-control mr-sm-2" type="text" placeholder="Adresse Serveur Dynatrace" [(ngModel)]="address_server">
        <input id="idEnv" class="form-control mr-sm-2" type="text" placeholder="Id Environnement" [(ngModel)]="idEnv">
        <input class="form-control mr-sm-2" type="button" value="Test" style="width : 50px;" (click)="doGet()">
      </nav>

<!-- <router-outlet></router-outlet> -->
