
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 
         <!-- Brand -->
         <h1 class="navbar-brand" href="#">DynaView</h1>
 
         <!-- Links -->
         <ul class="navbar-nav">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
               Actions
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Javascript</a>
                  <a class="dropdown-item" href="#">Css</a>
                  <a class="dropdown-item" href="#">Bootstrap</a> 
               </div>
            </li>
         </ul>
        <input class="form-control mr-sm-2" type="text" placeholder="Adresse Serveur Dynatrace">
        <input class="form-control mr-sm-2" type="text" placeholder="Id Environnement">
      </nav>
<ngbd-dropdown-basic></ngbd-dropdown-basic>
<app-test1></app-test1>
<router-outlet></router-outlet>